.register-wrap {
  &.forgot-wrap {

    @include min(1800){
      section{
        height: 100%;
      }
    }
    section {
     
      .register-form-wrap {
        
        .forgot-inst {
          margin-top: size(89);

          h6 {
            text-align: center;
            margin-bottom: size(31);

            &.HeadlineH3-2 {
                color: var(--blue-normal-2);
            }
          }
        }

        .reg-form {
          margin-top: size(34);

          .log-mt-95 {
            margin-top: size(142);
          }
          .log-mt-60{
              margin-top: size(60);
          }
          .condition-link {
            margin-top: size(133);
          }
        }
      }
    }
    .forgot_pass_wrp{
      @include max(767){
        .forgot-inst{
          max-width: size(240);
          margin-top: size(74)!important;
        }
        .reg-form{
          max-width: 240px;
    margin-left: auto;
    margin-right: auto;
    .log-mt-95{
      margin-top: size(70)!important;
    }
        }
      }
    }
  }
  &.newpassword-wrap{
    @include min(1800){
      section{
        height: 100%;
      }
    }
      section{
        
          .register-form-wrap{
              .reg-form{
                  margin-top: size(136);
                .HeadlineH4-2{
                color: var(--blue-normal-2)!important;
                margin-bottom: size(26);
              }
              .log-mt-65{
                margin-top: size(65);
            }
            .btn-blue.btn-disable-outline{
                line-height: size(18);
                &:hover{
                    border: solid 1px var(--gray-normal-2);
                    background-color: transparent;
                    color: var(--gray-normal-2)!important;
                    box-shadow: none;

                }
            }
            }
          }
      }
  }
}


.register-wrap{
  &.forgot-wrap{
    &.messages-page{
      section{
        .forgot-inst{
          margin-top: size(136);
        }
      }
    }
  }
}